name: Unit tests

on:
  push:
  pull_request:

jobs:
  build:
    name: ${{ matrix.producer_npm }} (npm i) => ${{ matrix.consumer_npm }} (npm ci)
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        producer_npm: &list
          # for node 20.19.4 +
          - 10.8.2
          # for node 22.21.0 +
          - 10.9.4
          # last compatible with bottom
          - 11.4
          # first failure
          - 11.5.0
          # another critical point
          - 11.6.0
          # for node 24.11.0 (initial LTS)
          - 11.6.1
          # for node 24.11.1 +
          - 11.6.2
          # future of hell
          - 11.7.0
        consumer_npm: *list

    steps:
      - uses: actions/checkout@v4
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.x
          cache: 'npm'
      - name: make package lock
        run: npx npm@${{ matrix.producer_npm }} i
      - name: test package lock
        run: npx npm@${{ matrix.consumer_npm }} ci
